@{
    ViewData["Title"] = "Home Page";
}


@model List<Tablero>

<h2>Lista de tableros</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th >Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Id_propietario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.NombreDeUsuario</td>
                <td><a asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.Id" onclick="return confirm('¿Estás seguro de eliminar este usuario?')">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>